<p>
    (<strong>Requires OpenMW version 0.49+</strong> – available as <em>development build</em> at
    <a href="https://openmw.org/downloads/">https://openmw.org/downloads/</a>)
</p>
<p>
    This mod replaces the book/scroll in-game UI with a custom version mimicking the vanilla game look, but with
    additional expansions.
</p>
<p>
    <strong>See <a href="https://modding-openmw.gitlab.io/openmw-books-enhanced/readme/">README</a></strong> for details
    and known
    issues. Here are the features this mod provides:
</p>
<ul>
    <li>
        Configurable window &amp; font size
        <p>
            <img src="readme/docs/tobe_01.png" alt="You can set books &amp; their font to any size">
        </p>
    </li>
    <li>
        (optional) Daedric text translator
        <p>
            <img src="readme/docs/tobe_02.png" alt="Daedric/Battlespire font can be switched in options">
        </p>
    </li>
    <li>
        Colored book covers
        <p>
            <img src="readme/docs/tobe_04.png" alt="Vanilla &amp; TR books have colored covers">
        </p>
    </li>
    <li>
        Support for custom book layouts - examples:
        <p>
            <img src="readme/docs/tobe_03.png" alt="Custom book UI layout example1">
        </p>
        <p>
            <img src="readme/docs/tobe_05.png" alt="Custom book UI layout example2">
        </p>
    </li>
    <li>
        High-res replacements of the vanilla book/scroll UI textures
    </li>
    <li>
        Keyboard &amp; gamepad support
    </li>
    <li>
        Equip a spell when equipping the book/scroll enchanted with it
    </li>
    <li>
        (optional) If you point the crosshair at a book you have read before, an icon shows up
        <p>
            <img src="readme/docs/tobe_06.png" alt="Book read indicator icon - an eye next to the crosshair">
        </p>
    </li>
</ul>
<h4 id="install">Installation:</h4>
<ol>
    <li>
        <p>
            Download the mod from <a href="https://modding-openmw.gitlab.io/openmw-books-enhanced/">this URL</a>
        </p>
    </li>
    <li>
        <p>
            Extract the zip to a location of your choosing, examples below:
        </p>
        <pre><code> # Windows
 C:\games\OpenMWMods\openmw-books-enhanced

 # Linux
 /home/username/games/OpenMWMods/openmw-books-enhanced

 # macOS
 /Users/username/games/OpenMWMods/openmw-books-enhanced
    </code></pre>
    </li>
    <li>
        <p>
            Add the appropriate data path to your <code>opemw.cfg</code> file (e.g.
            <code>data="C:\games\OpenMWMods\openmw-books-enhanced"</code>)
        </p>
    </li>
    <li>
        <p>
            Add <code>openmw_books_enhanced.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable
            them via OpenMW-Launcher
        </p>
    </li>
</ol>